:root {
    --accent-orange: #F38181;
    --dark-text: #333333;
    --light-text: #B6B6B6;
    --accent-aqua: #95E1D3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-weight: 400;
    font-family: "Montserrat", serif;

}

.header-main {
    font-size: 14px;
    font-weight: 400;
    color: var(--accent-orange);
    text-decoration: none;
}

.header-link {
    font-size: 14px;
    font-weight: 400;
    color: var(--accent-aqua);
    text-decoration: none;
}

.services-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-text);
}

.service-subtitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--dark-text);
    font-family: "Kaushan Script", cursive;
}

.services-item-title {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-text);
    margin-top: 0;
}

.services-item-text {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-text);
    line-height: 1.4;
}

.our-team-h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--dark-text);
    font-family: "Kaushan Script", cursive;
}

.our-team-heading {
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-text);

}

.our-team-desc {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-text);
    line-height: 1.2;
}

.our-team-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-text);
    text-transform: uppercase;
}

.our-team-profession {
    font-size: 15px;
    font-weight: 300;
    color: var(--light-text);
    font-style: italic;

}

.footer-label {
    font-size: 14px;
    font-weight: 300;
    color: var(--light-text);
}

.footer-template span {
    font-size: 14px;
    font-weight: 400;
    color: var(--accent-orange);
}

.footer-template {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-text);
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 68px;
}

.header-nav {
    gap: 55px;
    display: flex;
}

.header-link {
    color: var(--accent-aqua);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-link_active {
    color: var(--accent-orange);
}

.services-wrap {
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    padding: 0;
    list-style: none;
}

.services-item {
    width: 332px;

}

.our-team-wrap {
    text-align: center;
}

.our-team-list {
    display: flex;
    justify-content: space-between;
}

.our-team-person {
    margin: 0px;
    width: 380px;

}

.our-team-info {
    text-align: center;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-label {
    display: none;
}

.footer-form {
    display: flex;
}

.footer-btn {
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    background-color: #95E1D3;
    padding: 12px 38px;
    color: white;
    border: 0;
}

.footer-imput {
    padding: 12px 10px;
    border-color: var(--light-text);
    border-width: 1px;
    border-style: solid;
    width: 230px;
    border-right: none;
}

.footer {
    border-top-color: #B6B6B6;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 10px 0;
    margin-top: 80px;
}

.services-item {
    display: flex;
    align-items: flex-start;

}

.services-item-img {
    padding-right: 19px;
}

.services-list {
    margin-top: 65px;
    margin-bottom: 100px;
    column-gap: 70px;
    row-gap: 100px;
}

.our-team-desc {
    margin-top: 85px;
}